[submodule "kernel-src/io/acpi/uacpi"]
	path = kernel-src/io/acpi/uacpi
	url = https://github.com/UltraOS/uACPI
[submodule "kernel-src/io/audio/uhda"]
	path = kernel-src/io/audio/uhda
	url = https://github.com/Qwinci/uHDA.git
